

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*nav*/
nav{
    display: flex;
}

.nav-title{
    font-weight: 800px;
     font-size: 45px;
}

nav ul a{
  text-decoration: none;

}

.dark-2{
  color: #474747;
}
nav ul li{
  list-style: none;
  font-size: 20px;
  margin-right: 50px;
}
nav ul{
  display: flex;
  
}
nav{
display: flex;
align-items: center;
justify-content: space-between ;
margin: 50px 200px;
}

.btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}
.banner-gettings{
  font-size: 45px;
  font-weight: 600;
}
.banner-title{
  font-size: 85px;
  font-weight: bold;
}
p{
  font-size: 18px;
}
.portfolio-profile{
  width: 584px;
  height: 676px;

}
.banner{
  display: flex;
  justify-content: space-between ;
  margin:  0 35px 0px 200px ;


}
.banner-content{
  width: 585px;
  height: 356px;
}

.header{
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.section-title{
  font-weight: bold;
  font-size: 35px;
  color: #181818;
}
.section-descrieption{
  font-size: 18px;
  color: #757575;
}

.secendary-bg{
  background-color: #FFF8F3;
}
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top:130px ;
}
main section{
   margin-top:130px ;
   margin-bottom: 130px;
}
main{
  max-width: 1140px;
  margin: 0 auto;
}
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-description{
  font-weight: bold;
  font-size: 20px;
}
.item-title{
  color:#757575;
}
.text-align{
  text-align: center;
}
.skil-container{
  display: flex;
  gap: 24px;
}
.skil{
  padding: 30px;
  box-shadow: 0px 6px  50px 0px #1E1E1E;
  border-radius: 5px;
}
.summery{
  display: flex;
  gap: 24px;
}
hr{
  text-align: center;
}
.download{
  text-align: center;
}
.summery-2{
  text-align: center;
}
footer{
  padding: 130px 230px;
  display: flex;
}
.footer-colum{
  width: 50%;
  
}
form input{
  display: block;
}